<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
<header>
    <h2>Парковки Москвы</h2>
    <nav>
        <a href="">Главная</a>
        <a href="">Каталог</a>
        <a href="">Личный кабинет</a>
    </nav>
</header>
<main>
    <div class="parking-place">
        <img src="" alt="изображение" class="parking-place__img">
        <div class="parking-place__description">
            <h3 class="parking-place__address">Камнеградская 48, к. 1</h3>
            <h4 class="parking-place__location">Митино</h4>
            <h6 class="parking-place__price">150 р/ час</h6>
        </div>
    </div>
</main>
</body>
</html>