<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Парковки Москвы</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
<header class="header">
    <h2 class="header__title">
        Парковки Москвы
    </h2>
    <nav class="header__nav">
        <a href="" class="header__nav-link">
            Главная
        </a>
        <a href="" class="header__nav-link">
            Каталог
        </a>
        <a href="" class="header__nav-link">
            Личный кабинет
        </a>
    </nav>
</header>
<main class="main">

    <section class="intro">
        <div class="wrapper">
            <div class="intro__content">
                <h1 class="intro__title">
                    Найти парковку за 30 секунд
                </h1>
                <h5 class="intro__subtitle">
                    Сервис для краткосрочной аренды машиномест в Москве
                </h5>
                <div class="intro__features">
                    <span class="intro__features-item">Гарантия свободного места</span>
                    <span class="intro__features-item">Быстро и безопасно</span>
                    <span class="intro__features-item">Доступные цены</span>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="wrapper">
            <div class="features__content">
                <div class="features__item">
                    +75 000 часов сэкономил автомобилистам поиск места через наш сервис
                </div>
                <div class="features__item">
                    +130 000 литров бензина сэкономило бронирование и поездка прямо до места парковки
                </div>
                <div class="features__item">
                    +350 000 частных и коммерческих мест в каталоге
                </div>
            </div>
        </div>
    </section>

    <section class="drivers">

    </section>

    <section class="holders">

    </section>

    <section class="about-us">
        <h1 class="about-us__title">
            О нас
        </h1>
        <div class="about-us__text">
            <p class="about-us__text-paragraph">
                <span style="color: #EA3800FF">Проект «Парковки Москвы»</span> создан, чтобы решить проблему
                беспорядочного паркинга на улицах Москвы
                и создать возможность удобного передвижения для автомобилей и пешеходов.
            </p>
            <p class="about-us__text-paragraph">
                <span style="color: #EA3800FF">Наша миссия</span> — сделать парковку на улицах Москвы доступной и
                комфортной для каждого жителя. Мы хотим
                видеть аккуратные и красивые улицы нашего города, по которым приятно гулять пешеходам.
                Улыбающихся автомобилистов, спокойно паркующихся и идущих по своим делам.
            </p>
            <p class="about-us__text-paragraph">
                Присоединяйтесь к сообществу «Парковки Москвы», паркуйтесь с выгодой или сдавайте свое паркоместо, чтобы
                получить дополнительный доход.
            </p>
        </div>
    </section>

</main>

<footer class="footer">
    <h4 class="footer__title">Парковки Москвы</h4>
    <h5 class="footer__subtitle">Сервис для краткосрочной аренды машиномест в Москве</h5>
    <div class="footer__links">
<!--Don't have information about terms and other below. Tagged as link temporary-->
        <a href="" class="footer__links-item">Условия использования</a>
        <a href="" class="footer__links-item">Договор оферты</a>
        <a href="" class="footer__links-item">Служба поддержки</a>
    </div>
</footer>

</body>
</html>