{% extends 'index.html' %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}

<main class="main">
     {% load static %}
  <button class="scroll-button">
    <img src="{% static 'icons/scroll-button.svg' %}" alt=""/>
  </button>
  <div class="wrapper">
    <section class="profile">
      <div class="wrapper">
        <div class="profile__content">
          <h2 class="profile__title">Личный кабинет</h2>

          <form class="profile__form">
            <div class="profile__user">
              <h5 class="profile__subtitle">Общие сведения</h5>

                <!-- ПОЛЕ С ИМЕНЕМ ПОЛЬЗОВАТЕЛЯ НАЧАЛО  -->
                <div class="profile__form-field">
                <label class="profile__form-label">
                   Имя
                </label>
                <input
                    id="profile-fullName"
                    placeholder="{{ profile.name }}"
                    class="profile__form-input"
                    type="text">
                </div>
                <!-- ПОЛЕ С ИМЕНЕМ ПОЛЬЗОВАТЕЛЯ КОНЕЦ  -->

                <!-- ПОЛЕ С ФАМИЛИЕЙ ПОЛЬЗОВАТЕЛЯ НАЧАЛО  -->
                <div class="profile__form-field">
                <label class="profile__form-label">
                   Фамилия
                </label>
                <input
                    placeholder="{{ profile.surname }}"
                    class="profile__form-input"
                    type="text">
                </div>
                <!-- ПОЛЕ С ФАМИЛИЕЙ ПОЛЬЗОВАТЕЛЯ КОНЕЦ  -->
                <!-- ПОЛЕ С НОМЕРОМ ТЕЛЕФОНА ПОЛЬЗОВАТЕЛЯ НАЧАЛО  -->
                <div class="profile__form-field">
                <label class="profile__form-label">
                   Номер телефона
                </label>
                <input
                    placeholder="{{ profile.phoneNumber }}"
                    class="profile__form-input"
                    type="text">
                </div>
                <!-- ПОЛЕ С НОМЕРОМ ТЕЛЕФОНА ПОЛЬЗОВАТЕЛЯ КОНЕЦ  -->


              <!-- ПОЛЕ С ПОЧТОЙ ПОЛЬЗОВАТЕЛЯ НАЧАЛО  -->
<!--                <div class="profile__form-field">-->
<!--                <label class="profile__form-label">-->
<!--                  E-mail-->
<!--                </label>-->
<!--                <input-->
<!--                    id="profile-email"-->
<!--                    placeholder="example@gmail.ru"-->
<!--                    class="profile__form-input"-->
<!--                    type="text">-->
<!--              </div>-->
                <!-- ПОЛЕ С ПОЧТОЙ ПОЛЬЗОВАТЕЛЯ КОНЕЦ  -->

              <div class="profile__form-field">
                <label class="profile__form-label">
                  Пароль
                </label>
                <input
                    id="profile-password"
                    placeholder="****************g"
                    class="profile__form-input"
                    type="password"
                />
              </div>

              <button class="profile__form-edit-button" type="button"">
                <a href="{% url 'edit_profile' profile.id %}" >Редактировать </a>
              </button>

            </div>





            <div class="profile__payment">
              <h5 class="profile__subtitle">
                Платежные данные
              </h5>
              <div class="profile__form-field">
                <label class="profile__form-label">
                  Номер карты
                </label>
                <input
                    id="profile-card-number"
                    placeholder="**** **** **** 1234"
                    class="profile__form-input"
                    type="text"
                />
              </div>
              <div class="profile__form-double-field">
                <div class="profile__form-field">
                  <label class="profile__form-label">
                    Дата
                  </label>
                  <input
                      id="profile-card-expiration"
                      placeholder="**/**"
                      class="profile__form-input"
                      type="text"
                  />
                </div>
                <div class="profile__form-field">
                  <label class="profile__form-label">
                    CVC
                  </label>
                  <input
                      id="profile-card-cvc"
                      placeholder="***"
                      class="profile__form-input"
                      type="password"
                  />
                </div>
              </div>
            </div>
            <button class="profile__form-edit-button" type="button" onclick="proveEditing()">
              Редактировать
            </button>
          </form>
        </div>
      </div>
    </section>


    <section class="parking">
      <div class="wrapper">
        <div class="parking__content">
          <div class="parking__tabs">
            <button class="parking__tabs-button active" onclick="setActiveProfileTab()">
              Водитель
            </button>
            <button class="parking__tabs-button" onclick="setActiveProfileTab()">
              Владелец
            </button>
          </div>

          <!--                 РАЗДЕЛ ВОДИТЕЛЯ НАЧАЛО                        -->
          <div class="parking__tab driver">
            <h6 class="parking__tab-title">
              Текущая парковка
            </h6>
            <div class="parking__tab-cards">
                        {% if my_orders  %}

                    {% for my_order in my_orders %}


              <a href="" class="parking__cards-item">
                <img src="../../../moscow-parking/static/images/catalog-card.jpg"
                     alt=""
                     class="parking__cards-cover"
                />
                <div class="parking__cards-description">
                  <h5 class="parking__cards-address">
                    {{ my_order.parkingPlace.title }}
                  </h5>
                  <h6 class="parking__cards-station">{{ my_order.parkingPlace.subway_station }}</h6>
                  <p class="parking__cards-price">{{ my_order.parkingPlace.pricePerHour }} руб./час</p>
                  <h5 class="parking__cards-status">Занято {{ my_order.creation_date | date:'d.M.Y.' }}</h5>
                </div>
              </a>
              {% empty %}

              {% endfor %}
              {% endif %}

            </div>
            <h6 class="parking__tab-title">
              История
            </h6>

            <div class="parking__tab-history">
                {% if my_payments %}
                {% for my_payment in my_payments %}
              <div class="parking__history-item">
                <span class="parking__history-date">{{ my_payment.creation_date }} </span>
                <span class="parking__history-amount">{{ my_payment.amount }} руб. </span>
              </div>
               {% empty %}
              <h2 class="subtitle">Слава богу вы еще ничего не потратили...</h2>
              {% endfor %}
              {% endif %}

            </div>
          </div>
          <!--                 РАЗДЕЛ ВОДИТЕЛЯ КОНЕЦ                        -->

          <!--                 РАЗДЕЛ ВЛАДЕЛЬЦА НАЧАЛО                        -->
          <div class="parking__tab owner" style="display:none">
            <h6 class="parking__tab-title">
              Ваша парковка
            </h6>

            <div class="parking__tab-cards">

              <a href="" class="parking__cards-item">
                <img src="static/images/catalog-card.jpg"
                     alt=""
                     class="parking__cards-cover"
                />
                <div class="parking__cards-description">
                  <h5 class="parking__cards-address">
                    Мне-Нужна-Длинная-Улица 48, к. 1
                  </h5>
                  <h6 class="parking__cards-station">Китай-Город</h6>
                  <p class="parking__cards-price">550 руб./час</p>
                  <h5 class="parking__cards-status">Занято с 19.00, 28 дек</h5>
                </div>
              </a>


            </div>

            <a href="{% url 'create_parking' %}" class="parking__tab-link">
              Добавить место
            </a>

            <h6 class="parking__tab-title">
              История
            </h6>
            <div class="parking__tab-history">
              <div class="parking__history-item">
                <span class="parking__history-date">27 дек. 18.23 - 19.54</span>
                <span class="parking__history-amount">300 руб.</span>
              </div>
            </div>
          </div>
          <!--                 РАЗДЕЛ ВЛАДЕЛЬЦА КОНЕЦ                        -->
        </div>
      </div>
    </section>
  </div>
</main>


{% endblock content %}