{% extends 'index.html' %}

{% block title %} Добавление машино-места {% endblock title %}
 
{% block content %}
<!-- Аннотация страницы-->
<section class="section">
        <h1 class="title">Создание машино-места</h1>
        <h2 class="subtitle">
        Здесь вы можете <strong>создать</strong> добавить ваше машино-место. Заполните поля ниже.
        </h2>
</section>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}


    {{ form.media }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    {{ form.as_p }}

    <br>


    <input type="submit" value="Добавить машино-место">
</form>

{% endblock content %}