{% extends 'index.html' %}

{% block title %} Ad Search List {% endblock title %}

{% block content %}
<!-- Аннотация страницы-->
<section class="section">
        <h1 class="title">Поиск парковочного места</h1>
        <h2 class="subtitle">
        Здесь вы можете найти интересующий вас <strong>адрес</strong> парковки.
        </h2>
</section>

    <form>
        {% csrf_token %}
        <div class="field is-grouped">
            <p class="control is-expanded">
            <input class="input" type="text" placeholder="Введите адрес" name="query">
            </p>
            <p class="control">
                <button class="button is-info is-outlined" type="submit">Искать</button>
            </p>
        </div>

    <form/>
    {% for object in search_res %}
    <h2>{{object.title | safe}}</h2>
    <p>{{object.content | truncatechars:200}}</p>
    {% empty %}
    <h2>No Results</h2>
    {% endfor %}

{% endblock content %}